<section class="af-approach">
  <!-- TODO: TITLE -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 offset-lg-1">
        <h2>
          {{block.headlineTop}}
          <strong>{{block.headlineBottom}}</strong>
        </h2>
        <div class="af-approach_content-text">
          {{block.text}}
        </div>
        <div class="af-approach_content-button">
          {% include '_atoms/link' with {link: block.button, class: 'btn btn-outline-dark'} %}
        </div>
      </div>
      <div class="col-lg-4">
        {% for item in block.items.all() %}
            <h3>{{item.headline}}</h3>
            <div class="text">{{item.text}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
