<section class="af-tabs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>{{block.headline}}</h2>
        <div class="af-tabs_intro-text">
          {{block.text}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          {% for item in block.tabs %}
            <li class="nav-item" role="presentation">
              <a class="nav-link {% if loop.first %}active{% endif %}" id="pills-{{item.id}}-tab" data-toggle="pill" href="#pills-{{item.id}}" role="tab" aria-controls="pills-{{item.id}}" aria-selected="true">{{item.tabTitle}}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content" id="pills-tabContent">
          {% for item in block.tabs %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="pills-{{item.id}}" role="tabpanel" aria-labelledby="pills-{{item.id}}-tab">
              <div class="row">
                {% include '_components/block_imageText' with {block: item} %}
              </div>

            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
